* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Gill Sans';
  text-align: left;
  background-color: rgba(0, 0, 0, 0.63);
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 78px;
  background: rgba(255, 149, 0, 0.486);
}

.logo {
  float: left;
  text-align: left;
}

.logo h1 {
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Times New Roman';
  color: white;
}

.logo h2 {
  font-size: 1.5rem;
  font-family: 'Times New Roman';
  color: white;
  padding: 10px;
}

nav {
  float: right;
  line-height: 100px;
  border: black;
  border-width: 3px;
}

nav a {
  text-decoration: none;
  font-family: 'Lucida Sans';
  font-size: 1.5rem;
  color: white;
}

nav a:hover {
  background: white;
  color: black;
}

table {
  border-collapse: separate;
  border-spacing: 5px;
  color: #fff;
  width: 100%;
}

th,
td {
  width: 10%;
  text-align: left;
  vertical-align: top;
  border-collapse: collapse;
  padding: 0.3em;
  caption-side: bottom;
}

caption {
  padding: 0.3em;
  color: #fff;
  background: #000;
}

th {
  background: #eee;
}

#socialnetwork {
  width: 40px;
  height: auto;
  border-radius: 25px;
  display: inline;
}

.shadow-effect {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #555027;
  transition: box-shadow 0.3s ease-in-out;
}

.shadow-effect:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

th,
li,
tr,
td {
  font-size: 2rem;
}

th {
  background-color: white;
  color: black;
}

tr {
  background-color: rgba(223, 129, 52, 0.116);
}


ul {
  margin-left: 20px;
  text-align: justify;
  list-style-type: square;
  height: 100%;
  width: auto;
}
p {
  color: white;
  font-size: 4rem;
}

#presentation {
  width: 400px;
  height: auto;
  border-radius: 400px;
}

/*Telefono*/
@media (min-width:320px) {
  #presentation {
    width: 10%;
    height: auto;
    border-radius: 400px;
  }
}

/*Large phone devices*/
@media (min-width:425px) {
  #presentation {
    width: 10%;
    height: auto;
    border-radius: 400px;
    float: left;
  }
}

/*Large device*/
@media (min-width:760px) {
  #presentation {
    width: 10%;
    height: auto;
    border-radius: 400px;
    float: left;
  }
}